// ============================================================================
// #COLORS
// Color palette configuration. Specific applications can be found at the top
// of thier respective partials.
// ============================================================================

// ===== Config =====

$transparent:             rgba(0, 0, 0, 0);

$black:                   rgb(17, 16, 16);
$black-t:                 rgb(0, 0, 0);       // true black
$white:                   rgb(252, 252, 252);
$white-t:                 rgb(255, 255, 255); // true white
$grey:                    rgb(167, 164, 164);

$red:                     rgb(185, 74, 72);
$yellow:                  rgb(241, 196, 15);
$green:                   rgb(75, 198, 125);
$blue:                    rgb(0, 121, 188);
$purple:                  rgb(161, 148, 213);
$orange:                  rgb(242, 135, 97);

$grey-cool:               mix($grey, $purple, 65%);

// ===== Brand =====

$brand-primary:           $purple !default;
$brand-primary-accent:    $purple !default;
$brand-secondary:         $orange !default;
$brand-secondary-accent:  $orange !default;

// ===== Utilities =====

$success:                 $green !default;
$warning:                 $yellow !default;
$error:                   $red !default;
$information:             mix($grey-cool, $brand-primary, 70%) !default;
