// ============================================================================
// #PALETTES
// ============================================================================

/*doc
---
title: Usage
name: 0_usage
category: Palette
---

Below are swatches of the entire color palette. They should always be accessed using the function `palette($color, $tone)`. *The classes in the example HTML are for styleguide purposes only.*

##### Example

```
// Set a variable to use in your styles
$my-variable: palette(secondary, dark);

// Or access colors from the palette directly
.my-component {
  background: palette(primary, base);
  color: palette(greyscale-cool, x-light);
}
```
*/

$palettes: (

  /*doc
  ---
  title: Primary
  name: 1_primary
  category: Palette
  ---

  ```html_example
  <div class="sg__palette primary--base"><p>Primary, base</p></div>
  <div class="sg__palette primary--light"><p>Primary, light</p></div>
  <div class="sg__palette primary--x-light"><p>Primary, x-light</p></div>
  <div class="sg__palette primary--dark"><p>Primary, dark</p></div>
  <div class="sg__palette primary--x-dark"><p>Primary, x-dark</p></div>
  <div class="sg__palette primary--accent"><p>Primary, accent</p></div>
  <div class="sg__palette primary--x-accent"><p>Primary, x-accent</p></div>
  <div class="sg__palette primary--trans"><p>Primary, trans</p></div>
  <div class="sg__palette primary--x-trans"><p>Primary, x-trans</p></div>
  <div class="sg__palette primary--xx-trans"><p>Primary, xx-trans</p></div>
  ```

  */

  primary: (
    base:       $brand-primary,
    light:      mix($white, $brand-primary, 33%),
    x-light:    mix($white, $brand-primary, 66%),
    dark:       mix($black, $brand-primary, 33%),
    x-dark:     mix($black, $brand-primary, 66%),
    accent:     $brand-primary-accent,
    x-accent:   saturate($brand-primary-accent, 25%),
    trans:      transparentize($brand-primary, 0.50),
    x-trans:    transparentize($brand-primary, 0.75),
    xx-trans:   transparentize($brand-primary, 0.95)
  ),

  /*doc
  ---
  title: Secondary
  name: 2_secondary
  category: Palette
  ---

  ```html_example
  <div class="sg__palette secondary--base"><p>Secondary, base</p></div>
  <div class="sg__palette secondary--light"><p>Secondary, light</p></div>
  <div class="sg__palette secondary--x-light"><p>Secondary, x-light</p></div>
  <div class="sg__palette secondary--dark"><p>Secondary, dark</p></div>
  <div class="sg__palette secondary--x-dark"><p>Secondary, x-dark</p></div>
  <div class="sg__palette secondary--accent"><p>Secondary, accent</p></div>
  ```

  */

  secondary: (
    base:       $brand-secondary,
    light:      mix($white, $brand-secondary, 33%),
    x-light:    mix($white, $brand-secondary, 66%),
    dark:       mix($black, $brand-secondary, 33%),
    x-dark:     mix($black, $brand-secondary, 66%),
    accent:     $brand-secondary-accent
  ),

  /*doc
  ---
  title: Greyscale
  name: 3_greyscale
  category: Palette
  ---

  ```html_example
  <div class="sg__palette greyscale--base"><p>Greyscale, base</p></div>
  <div class="sg__palette greyscale--light"><p>Greyscale, light</p></div>
  <div class="sg__palette greyscale--x-light"><p>Greyscale, x-light</p></div>
  <div class="sg__palette greyscale--xx-light"><p>Greyscale, xx-light</p></div>
  <div class="sg__palette greyscale--white"><p>Greyscale, white</p></div>
  <div class="sg__palette greyscale--white-t"><p>Greyscale, white-t</p></div>
  <div class="sg__palette greyscale--dark"><p>Greyscale, dark</p></div>
  <div class="sg__palette greyscale--x-dark"><p>Greyscale, x-dark</p></div>
  <div class="sg__palette greyscale--black"><p>Greyscale, black</p></div>
  <div class="sg__palette greyscale--black-t"><p>Greyscale, black-t</p></div>
  <div class="sg__palette greyscale--trans"><p>Greyscale, trans</p></div>
  <div class="sg__palette greyscale--x-trans"><p>Greyscale, x-trans</p></div>
  <div class="sg__palette greyscale--xx-trans"><p>Greyscale, xx-trans</p></div>
  ```

  */

  greyscale: (
    base:       $grey,
    light:      mix($white, $grey, 50%),
    x-light:    mix($white, $grey, 75%),
    xx-light:   mix($white, $grey, 85%),
    white:      $white,
    white-t:    $white-t,
    dark:       mix($black, $grey, 40%),
    x-dark:     mix($black, $grey, 60%),
    black:      $black,
    black-t:    $black-t,
    trans:      transparentize($grey, 0.50),
    x-trans:    transparentize($grey, 0.75),
    xx-trans:   transparentize($grey, 0.95)
  ),

  /*doc
  ---
  title: Greyscale Cool
  name: 4_greyscale-cool
  category: Palette
  ---

  ```html_example
  <div class="sg__palette greyscale-cool--base"><p>Greyscale Cool, base</p></div>
  <div class="sg__palette greyscale-cool--light"><p>Greyscale Cool, light</p></div>
  <div class="sg__palette greyscale-cool--x-light"><p>Greyscale Cool, x-light</p></div>
  <div class="sg__palette greyscale-cool--dark"><p>Greyscale Cool, dark</p></div>
  <div class="sg__palette greyscale-cool--x-dark"><p>Greyscale Cool, x-dark</p></div>
  <div class="sg__palette greyscale-cool--trans"><p>Greyscale Cool, trans</p></div>
  <div class="sg__palette greyscale-cool--x-trans"><p>Greyscale Cool, x-trans</p></div>
  <div class="sg__palette greyscale-cool--xx-trans"><p>Greyscale Cool, xx-trans</p></div>
  ```

  */

  greyscale-cool: (
    base:       $grey-cool,
    light:      mix($white, $grey-cool, 50%),
    x-light:    mix($white, $grey-cool, 75%),
    xx-light:   mix($white, $grey-cool, 85%),
    dark:       mix($black, $grey-cool, 50%),
    x-dark:     mix($black, $grey-cool, 75%),
    trans:      transparentize($grey-cool, 0.50),
    x-trans:    transparentize($grey-cool, 0.75),
    xx-trans:   transparentize($grey-cool, 0.95)
  ),

  /*doc
  ---
  title: Success
  name: 5_success
  category: Palette
  ---

  ```html_example
  <div class="sg__palette success--base"><p>Success, base</p></div>
  <div class="sg__palette success--light"><p>Success, light</p></div>
  <div class="sg__palette success--dark"><p>Success, dark</p></div>
  <div class="sg__palette success--trans"><p>Success, trans</p></div>
  <div class="sg__palette success--x-trans"><p>Success, x-trans</p></div>
  <div class="sg__palette success--xx-trans"><p>Success, xx-trans</p></div>
  ```

  */

  success: (
    base:       $success,
    light:      mix($white, $success, 33%),
    dark:       mix($black, $success, 33%),
    trans:      transparentize($success, 0.50),
    x-trans:    transparentize($success, 0.75),
    xx-trans:   transparentize($success, 0.95)
  ),

  /*doc
  ---
  title: Error
  name: 6_error
  category: Palette
  ---

  ```html_example
  <div class="sg__palette error--base"><p>Error, base</p></div>
  <div class="sg__palette error--light"><p>Error, light</p></div>
  <div class="sg__palette error--dark"><p>Error, dark</p></div>
  <div class="sg__palette error--trans"><p>Error, trans</p></div>
  <div class="sg__palette error--x-trans"><p>Error, x-trans</p></div>
  <div class="sg__palette error--xx-trans"><p>Error, xx-trans</p></div>
  ```

  */

  error: (
    base:       $error,
    light:      mix($white, $error, 33%),
    dark:       mix($black, $error, 33%),
    trans:      transparentize($error, 0.50),
    x-trans:    transparentize($error, 0.75),
    xx-trans:   transparentize($error, 0.95)
  ),

  /*doc
  ---
  title: Warning
  name: 7_warning
  category: Palette
  ---

  ```html_example
  <div class="sg__palette warning--base"><p>Warning, base</p></div>
  <div class="sg__palette warning--light"><p>Warning, light</p></div>
  <div class="sg__palette warning--dark"><p>Warning, dark</p></div>
  <div class="sg__palette warning--trans"><p>Warning, trans</p></div>
  <div class="sg__palette warning--x-trans"><p>Warning, x-trans</p></div>
  <div class="sg__palette warning--xx-trans"><p>Warning, xx-trans</p></div>
  ```

  */

  warning: (
    base:       $warning,
    light:      mix($white, $warning, 33%),
    dark:       mix($black, $warning, 33%),
    trans:      transparentize($warning, 0.50),
    x-trans:    transparentize($warning, 0.75),
    xx-trans:   transparentize($warning, 0.95)
  ),

  /*doc
  ---
  title: Information
  name: 8_information
  category: Palette
  ---

  ```html_example
  <div class="sg__palette information--base"><p>Information, base</p></div>
  <div class="sg__palette information--light"><p>Information, light</p></div>
  <div class="sg__palette information--dark"><p>Information, dark</p></div>
  <div class="sg__palette information--trans"><p>Information, trans</p></div>
  <div class="sg__palette information--x-trans"><p>Information, x-trans</p></div>
  <div class="sg__palette information--xx-trans"><p>Information, xx-trans</p></div>
  ```

  */

  information: (
    base:       $information,
    light:      mix($white, $information, 33%),
    dark:       mix($black, $information, 33%),
    trans:      transparentize($information, 0.50),
    x-trans:    transparentize($information, 0.75),
    xx-trans:   transparentize($information, 0.95)
  ),
);

// shadows
$shadow: transparentize(palette(greyscale, black-t), .5);
