// ============================================================================
// #BUTTONS
// ============================================================================

/*doc
---
title: Button Variations
name: 3_buttons
category: Base CSS
---

```html_example
<button class="o-btn c-btn--action" type="button">Action Button</button>
<a class="o-btn c-btn--dark" href="#" role="button">Dark Button</a>
<a class="o-btn c-btn--hollow" href="#" role="button">Hollow Button</a>
<a class="o-btn c-btn--plain" href="#" role="button">Plain Button</a>
<a class="o-btn c-btn--subtle" href="#" role="button">Subtle Button</a>
```
*/

/*doc
---
title: Specialty Buttons
name: 1_specialty_buttons
category: Components
---

### Icon Buttons
Add icons to your buttons by using the `c-btn--icon-left` or `c-btn--icon-right` classes on the button itself. Please note, you must place the icon in the proper order in the markup for left or right side icon placement.

```html_example
<a class="o-btn c-btn--dark c-btn--icon-left" href="#" role="button">
  <svg viewBox="0 0 8 8" class="ic">
    <use xlink:href="dist/images/open-iconic.svg#account-login" class="ic__account-login"></use>
  </svg>
  Logout
</a>
<a class="o-btn c-btn--action c-btn--icon-right" href="#" role="button">
  Be Awesome
  <svg viewBox="0 0 8 8" class="ic">
    <use xlink:href="dist/images/open-iconic.svg#bolt" class="ic__bolt"></use>
  </svg>
</a>
```

### Button Group
Group together a text button with an icon for primary/secondary actions, or add a dropdown for multiple actions.

```html_example
<div class="c-btn-group">
  <a href="#" class="o-btn c-btn-group__left" role="button">Action</a>
  <a href="#" class="o-btn c-btn-group__right" role="button">
    <svg viewBox="0 0 8 8" class="ic">
      <use xlink:href="dist/images/open-iconic.svg#chevron-bottom" class="ic__chevron-bottom"></use>
    </svg>
  </a>
</div>
```

### Icon Button
Icon buttons can be used for actions or toggle settings, with or without a label.

```html_example
  <div>
    <span class="c-icon-btn__label">Rate</span>
    <svg viewBox="0 0 8 8" class="ic c-icon-btn c-icon-btn--base is-active">
      <use xlink:href="dist/images/open-iconic.svg#star" class="ic__star"></use>
    </svg>
    <svg viewBox="0 0 8 8" class="ic c-icon-btn c-icon-btn--base is-active">
      <use xlink:href="dist/images/open-iconic.svg#star" class="ic__star"></use>
    </svg>
    <svg viewBox="0 0 8 8" class="ic c-icon-btn c-icon-btn--base">
      <use xlink:href="dist/images/open-iconic.svg#star" class="ic__star"></use>
    </svg>
    <svg viewBox="0 0 8 8" class="ic c-icon-btn c-icon-btn--base">
      <use xlink:href="dist/images/open-iconic.svg#star" class="ic__star"></use>
    </svg>
    <svg viewBox="0 0 8 8" class="ic c-icon-btn c-icon-btn--base">
      <use xlink:href="dist/images/open-iconic.svg#star" class="ic__star"></use>
    </svg>
  </div>
  <div>
    <span class="c-icon-btn__label">Fav</span>
    <svg viewBox="0 0 8 8" class="ic c-icon-btn c-icon-btn--warn is-active">
      <use xlink:href="dist/images/open-iconic.svg#heart" class="ic__heart"></use>
    </svg>
  </div>
  <div>
    <span class="c-icon-btn__label">Flag</span>
    <svg viewBox="0 0 8 8" class="ic c-icon-btn c-icon-btn--error is-active">
      <use xlink:href="dist/images/open-iconic.svg#flag" class="ic__flag"></use>
    </svg>
  </div>
```

*/

// ===== Variables =====

$btn--action__color:         palette(greyscale, white-t);
$btn--action__bg:            palette(success, base);
$btn--action__color--hover:  palette(greyscale, white-t);
$btn--action__bg--hover:     palette(success, dark);

$btn--dark__color:           palette(greyscale, white-t);
$btn--dark__bg:              palette(primary, dark);
$btn--dark__color--hover:    palette(greyscale, white-t);
$btn--dark__bg--hover:       palette(primary, x-dark);

$btn--hollow__color:         $text-color;
$btn--hollow__border:        $text-color;
$btn--hollow__color--hover:  darken($text-color, 10%);
$btn--hollow__border--hover: darken($text-color, 10%);

$btn--plain__color:         $text-color;
$btn--plain__color--hover:  darken($text-color, 10%);

$btn--subtle__color:         palette(greyscale-cool, base);
$btn--subtle__color--hover:  palette(greyscale-cool, dark);

// ===== Button Variants =====

// The action button is the color of success
.c-btn--action {
  color: $btn--action__color;
  fill: $btn--action__color;
  background-color: $btn--action__bg;

  &:hover {
    color: $btn--action__color--hover;
    fill: $btn--action__color--hover;
    background-color: $btn--action__bg--hover;
  }
}

// The dark button is the a dark purple
.c-btn--dark {
  color: $btn--dark__color;
  fill: $btn--dark__color;
  background-color: $btn--dark__bg;

  &:hover {
    color: $btn--dark__color--hover;
    fill: $btn--dark__color--hover;
    background-color: $btn--dark__bg--hover;
  }
}


// Hollow button with border
.c-btn--hollow {
  color: $btn--hollow__color;
  fill: $btn--hollow__color;
  border: 1px solid $btn--hollow__border;
  background-color: transparent;

  &:hover {
    color: $btn--hollow__color--hover;
    fill: $btn--hollow__color--hover;
    border: 1px solid $btn--hollow__border--hover;
    background-color: transparent;
  }
}

// Plain button in regular text color
.c-btn--plain {
  color: $btn--plain__color;
  fill: $btn--plain__color;
  background-color: transparent;

  &:hover {
    color: $btn--plain__color--hover;
    fill: $btn--plain__color--hover;
    background-color: transparent;
  }
}

// Subtle button has no border and lighter text color
.c-btn--subtle {
  color: $btn--subtle__color;
  fill: $btn--subtle__color;
  background-color: transparent;

  &:hover {
    color: $btn--subtle__color--hover;
    fill: $btn--subtle__color--hover;
    background-color: transparent;
  }
}

// ===== Button Components =====

// Separate the icon from the button text
.c-btn--icon-left {
  .ic {
    margin-right: $spacing-unit--tiny;
  }
}

// Separate the icon from the button text
.c-btn--icon-right {
  .ic {
    margin-left: $spacing-unit--tiny;
  }
}

// Button groups have no border radius on the inside edges to make them feel connected
.c-btn-group__left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.c-btn-group__right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Icon buttons are subtle when not active and have a hover state
.c-icon-btn {
  fill: palette(greyscale-cool, light);

  &:hover {
    fill: palette(greyscale-cool, base);
    cursor: pointer;
  }
}

// The label is inline small caps next to the icon
.c-icon-btn__label {
  @include font-size(10px);
  font-weight: $font-weight--bold;
  text-transform: uppercase;
  color: palette(greyscale-cool, base);
  display: inline-block;
  margin-right: $spacing-unit--tiny;
}

// Icon Button - Active States

// When active, the icon is text color
.c-icon-btn--base.is-active {
  fill: palette(primary, x-dark);

  &:hover {
    fill: palette(greyscale-cool, base);
  }
}

// When active, the icon is warning color
.c-icon-btn--warn.is-active {
  fill: palette(warning, base);

  &:hover {
    fill: palette(greyscale-cool, base);
  }
}

// When active, the icon is error color
.c-icon-btn--error.is-active {
  fill: palette(error, base);

  &:hover {
    fill: palette(greyscale-cool, base);
  }
}
