// ============================================================================
// #TABLES
// ============================================================================

/*doc
---
title: Table Elements
name: 1_table_elements
category: Components
---

### Table Head
Make a table head borderless, as shown below, by using the class `c-tbl__head--plain`.

### Table Body
Make a table body background color, as shown below, by using the class `c-tbl__body--white`.

### Table Cell Button
Make a table cell a button, as shown below, by using the class `c-tbl__cell--btn`.

```html_example
<!-- Wrapper is for demo purposes only -->
<div class="sg__palette greyscale-cool--x-light">
  <table class="o-tbl--fit">
    <thead class="o-tbl__head c-tbl__head--plain">
      <tr>
        <th class="o-tbl__cell">
          <svg viewBox="0 0 8 8" class="ic ic--small ic--baseline ic--by-text">
            <use xlink:href="dist/images/open-iconic.svg#person" class="ic__person"></use>
          </svg>
          Name
        </th>
        <th class="o-tbl__cell">ID</th>
        <th class="o-tbl__cell">Favorite Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="o-tbl__cell">Jim</td>
        <td class="o-tbl__cell c-tbl__cell--success">00001</td>
        <td class="o-tbl__cell">Blue</td>
        <td class="o-tbl__cell--blank"></td>
        <td class="o-tbl__cell c-tbl__cell--btn">
          <a href="#">
            <svg viewBox="0 0 8 8" class="ic">
              <use xlink:href="dist/images/open-iconic.svg#chat" class="ic__chat"></use>
            </svg>
          </a>
        </td>
      </tr>
      <tr>
        <td class="o-tbl__cell c-tbl__cell--error">Sue</td>
        <td class="o-tbl__cell">00002</td>
        <td class="o-tbl__cell">Red</td>
        <td class="o-tbl__cell--blank"></td>
        <td class="o-tbl__cell c-tbl__cell--btn">
          <a href="#">
            <svg viewBox="0 0 8 8" class="ic">
              <use xlink:href="dist/images/open-iconic.svg#chat" class="ic__chat"></use>
            </svg>
          </a>
        </td>
      </tr>
      <tr>
        <td class="o-tbl__cell">Barb</td>
        <td class="o-tbl__cell c-tbl__cell--warn">00003</td>
        <td class="o-tbl__cell"><span href="#" class="u-act-natural">Green</a></td>
        <td class="o-tbl__cell--blank"></td>
        <td class="o-tbl__cell c-tbl__cell--btn">
          <a href="#">
            <svg viewBox="0 0 8 8" class="ic">
              <use xlink:href="dist/images/open-iconic.svg#chat" class="ic__chat"></use>
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
```

*/

// ===== Variables =====

$tbl-button-color:   palette(greyscale-cool, base);
// $tbl-head-color variable is found in objects - tables.scss

$cell-success-bg:    #EEF9F2; // 10% success color on white, turned to hex.
$cell-warn-bg:       #FEF9E8; // 10% warning color on white, turned to hex.
$cell-error-bg:      #F8EDED; // 10% error color on white, turned to hex.

// ===== Table =====

// The plain table head has no border around cells
.c-tbl__head--plain .o-tbl__cell {
  background: none;
  border: none;
}

// ===== Elements =====

// Button cell uses an icon and entirely clickable
.c-tbl__cell--btn {
  text-align: center;
  padding: 0;
  width: 3.714285714em;

  a {
    display: block;
    padding: $spacing-unit--tiny $spacing-unit--small;
    color: $tbl-button-color;

    &:hover {
      background-color: $tbl-button-color;
      color: palette(greyscale, white-t);
    }
  }
}

// Cell highlight colors. Used for status.

.c-tbl__cell--success {
  border-color: palette(success, base);
  background-color: $cell-success-bg;
}

.c-tbl__cell--warn {
  border-color: palette(warning, base);
  background-color: $cell-warn-bg;
}

.c-tbl__cell--error {
  border-color: palette(error, base);
  background-color: $cell-error-bg;
}
