// =============================================================================
// Typography
// =============================================================================

body, h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

// Bigger headlines use the appropriate font
h1, h2, h3 {
  font-family: $title-font-family;
}

// mark uses $highlight background and additional padding
mark, .highlight {
  background: $highlight;
  color: inherit;
  padding: 0 0.2em;
}

// default link styling
a {
  color: $link-color;
  &:hover {
    color: $link-hover;
  }
}

// Headline tweaks
// h1/h2 line height was way too high. Manually lower because I can.
h1, h2 {
  line-height: 1.3;
}

// ------------------------------------------
// Modifiers
// ------------------------------------------

// ===== Sizing =====

.size-up-2 {
  font-size: 1.25em;
}

.size-up {
  font-size: 1.125em;
}

.size-down {
  font-size: 0.875em;
}

// ===== Lists =====

// ===== Colors =====

.default-color {
  color: $text-color;
}

.white-color {
  color: $white;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.secondary-dark-color {
  color: $secondary-dark;
}

.secondary-light-color {
  color: $secondary-light;
}

.grey-mid-dark-color {
  color: $grey-mid-dark;
}

.grey-alt-color {
  color: $grey-alt;
}

// ===== Weights =====

.light-weight {
  font-weight: $light-weight;
  -webkit-font-smoothing: antialiased;
}

.regular-weight {
  font-weight: $regular-weight;
}

.bold-weight {
  font-weight: $bold-weight;
}

// ===== Borders =====

.border-top {
  border-top: 1px solid $secondary-light;
}

.border-bottom {
  border-bottom: 1px solid $secondary-light;
}

// ===== Transforms =====

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

// ===== Alignment =====

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

