// ============================================================================
// #MAIN
// ============================================================================

// =========== Documentation ==========

/*doc
---
title: Overview
name: 0_overview
category: Base CSS
---

## Architecture
Projects are structured following the [ITCSS](http://itcss.io/) guidelines. Each directory below could be considered a "layer", building upon the last. From top to bottom, the styles go from generic to explicit, far reaching to localized, and low specificity to high specificity.

```
|
|– settings/                    # Global variables, config switches
|   |– _defaults.scss             # Project variables and switches
|   |– _colors.scss               # Color variables
|
|– tools/                       # Default mixins and functions
|   |– _vertical-rhythm.scss      # Used by normalize to establish baseline grid
|   |– _functions.scss            # Framework functions
|   |– _mixins.scss               # Mixins to make life easier
|   |– _palettes.scss             # Generates full color palettes
|   |– _responsive.scss           # Responsive breakpoint mixin
|
|– generic/                     # Ground-zero styles
|   |– _normalize.scss            # Normalize with vertical rhythm and support-for
|
|– base/                        # Unclassed HTML elements
|   |– _typography.scss           # Base unclassed type styles
|   |– _images.scss               # Image element styles
|   |– _page.scss                 # Page level styling
|
|– objects/                     # Cosmetic-free design patterns
|   |– _grid.scss                 # Grid using Susy
|   |– _containers.scss           # Generaul use containers
|   |– _box.scss                  # Boxed content for layout
|   |– _buttons.scss              # The base button object
|   |– _forms.scss                # Form elements
|   |– _tables.scss               # Tables
|
|– components/                  # Designed components, chunks of UI
|   |– _iconic.scss               # Iconic svg sprite icons
|   |– _indicators.scss           # Indicator bubbles
|   |– _buttons.scss              # Special button components
|   |– _tags.scss                 # Tag component
|   |– _lists.scss                # List like components
|   |– _cards.scss                # Little cardy content capsules
|   |– _tables.scss               # Special table related components
|   |– _main-header.scss          # The main app header bar
|   |– _side-nav.scss             # The sidebar navigation
|   |– _page-header.scss          # The page header w/ actions
|   |– _page-nav.scss             # The horizontal page nav bar
|   |– _timeline.scss             # A vertical timeline
|   |– _audio-player.scss         # A player of audio
|
|– trumps/                      # Helpers and overrides
|   |– _helpers.scss              # Helper classes
|
```
*/

@charset "UTF-8";

// =========== Manifest ==========

// 1. Settings - Global variables, config switches.
@import
  'settings/defaults',
  'settings/colors';

// 2. Tools - Default mixins and functions.
@import
  'tools/vertical-rhythm',
  'tools/functions',
  'tools/mixins',
  'tools/palettes',
  'tools/responsive',
  // Third party imports
  'bower_components/susy/sass/susy';

// 3. Generic - Ground-zero styles.
@import
  'generic/normalize';

// 4. Base - Unclassed HTML elements.
@import
  'base/typography',
  'base/images',
  'base/page';

// 5. Objects - Cosmetic-free design patterns.
@import
  'objects/grid',
  'objects/containers',
  'objects/box',
  'objects/buttons',
  'objects/forms',
  'objects/tables';

// 6. Components - Designed components, chunks of UI.
@import
  'components/iconic',
  'components/indicators',
  'components/buttons',
  'components/tags',
  'components/lists',
  'components/cards',
  'components/tables',
  'components/main-header',
  'components/side-nav',
  'components/page-header',
  'components/page-nav',
  'components/timeline',
  'components/audio-player';

// 7. Trumps - Helpers and overrides.
@import
  'trumps/helpers',
  // ONLY FOR STYLEGUIDE
  'trumps/styleguide';
