// ============================================================================
// #GRID
// Using Susy
// ============================================================================

/*doc
---
title: Grid
name: 0_grid
category: Layouts
---

All grid related classes are prefixed with the `.g-` namespace.

```html_example
<div class="g-wrapper">
  <p>This is a susy container</p>
</div>
```

## Columns

```html_example
<div class="g-wrapper">
  <div class="g-col">1 of 1</div>
  <div class="g-col--1-2">1 of 2</div>
  <div class="g-col--1-2 g-col--omega">1 of 2</div>
  <div class="g-col--1-3">1 of 3</div>
  <div class="g-col--1-3">1 of 3</div>
  <div class="g-col--1-3 g-col--omega">1 of 3</div>
</div>
```

*/

// ===== Variables =====

// Susy
$susy: (
  columns: 12,
  column-width: 5.2em,
  gutters: 0.3,
);

$wrapper-width: 100%;  // 1400px

// ===== The Susy Grid =====

// The grid wrapper
.g-wrapper {
  @include container($wrapper-width);
  width: 100%;
}

// Single column
.g-col {
  @include span(last 12 of 12);
}

// 2 columns
.g-col--1-2 {
  @include span(6 of 12);
}

// 3 columns
.g-col--1-3 {
  @include span(4 of 12);
}

// 4 columns
.g-col--1-4 {
  @include span(3 of 12);
}

// The final column
.g-col--omega {
  @include omega();
}

// ===== Flexbox =====

.o-flex__wrapper {
  display: flex;
  width: 100%;
}

.o-flex__unit--auto {
  flex: auto;
}

.o-flex__unit--initial {
  flex: 0 auto;
}

// The main area of the flexbox sidebar layout
.o-flex__unit--main {
  flex: 1;
  padding-right: $spacing-unit--med;
}

// The main area of the flexbox sidebar layout
.o-flex__unit--main--right {
  flex: 1;
  padding-left: $spacing-unit--med;
}


// The sidebar of the flexbox sidebar layout
.o-flex__unit--aside {
  flex: 0 0 21em;
}
